*{
    padding: 0;
    margin:  0;
}

body{
    background-color: hsl(335, 44%, 89%);
}

h1{
    background-color: hsl(335, 44%, 59%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: sans-serif;
    color:hsl(335, 44%, 89%);
    height: 100px;
}

.gridContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.grid{
    margin: 10px 10px;
    background-color: rgb(196, 103, 142);
    color: hsl(335, 44%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    border-radius: 8px ;
    font-size: 1.5rem;
    padding: 2rem;
    transition: background-color 0.3s ease;
}